@model WebApplication5.Models.EMPDATA
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script src="~/Scripts/MyScript.js"></script>

@using (Html.BeginForm("Update","BindingEx"))
{
    <table>
        <tr>
            <td>EMPNO</td>
            <td>@Html.TextBoxFor(a => a.EMPNO, "", new { onblur = "func()" })</td>
        </tr>
        <tr>
            <td>Ename</td>
            <td>@Html.TextBoxFor(a => a.ENAME)</td>
        </tr>
        <tr>
            <td>JOB</td>
            <td>@Html.TextBoxFor(a => a.JOB)</td>
        </tr>
        <tr>
            <td>MGR</td>
            <td>@Html.TextBoxFor(a => a.MGR)</td>
        </tr>
        <tr>
            <td>HIREDATE</td>
            <td>@Html.TextBoxFor(a => a.HIREDATE)</td>
        </tr>
        <tr>
            <td>SAL</td>
            <td>@Html.TextBoxFor(a => a.SAL)</td>
        </tr>
        <tr>
            <td>COMM</td>
            <td>@Html.TextBoxFor(a => a.COMM)</td>
        </tr>
        <tr>
            <td>DEPTNO</td>
            <td>@Html.TextBoxFor(a => a.DEPTNO)</td>
        </tr>
        <tr>
            <td><input type="submit" /></td>
        </tr>
        <tr>

            <td>@Html.ActionLink("back to emp", "Index", "EMP")</td>
        </tr>
    </table>
}
